header img{
    border-radius: 10px;
    height: 55vh;
    display:block;
    margin:auto;
}

h1{
    font-size: 130px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.parrafo{
    background-color: springgreen;
    font-size: 25px;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
}

.container-fluid{
    background-color: teal;
    color: wheat;
    text-align: center;
}

.container-fluid img{
    width: 100%;
    max-width: 650px;
    margin: 5px;
    border-radius: 1rem;

}

