*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(53, 62, 124);
}

.contenedor{
    background-color: seagreen;
    padding: 30px;
    margin: 10px;
    border: 20px;
    border-radius: 15px;
}

h1{
    font-size: 130px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.parrafo{
    background-color: springgreen;
    font-size: 25px;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
}

.container-fluid{
    background-color: teal;
    color: wheat;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.container-fluid img{
    width: 100%;
    max-width: 650px;
    margin: 5px;
    border-radius: 1rem;

}

.lo{
    font-size: 14px;
}

.copi{
    background-color: rgb(43, 43, 67);
    margin: 20px;
}

nav .container-fluid{
    border: 3px  gainsboro solid;
    border-radius: 10px;
}