/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
}

body{
    background: rgb(7,4,65);
    background: linear-gradient(0deg, rgba(7,4,65,1) 2%, rgba(9,9,121,1) 22%, rgba(156,238,255,1) 94%);
    padding-top: 55px;
}

.contenedor{
    background-color: seagreen;
    padding: 30px;
    margin: 10px;
    border: 20px;
    border-radius: 15px;
}