/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(53, 62, 124);
    padding-top: 55px;
}

.contenedor{
    background-color: seagreen;
    padding: 30px;
    margin: 10px;
    border: 20px;
    border-radius: 15px;
}